.active {
  background-color: "#fc684a";
}

.header_text {
  max-width: 175px;
  align-self: center;
}

.ui.curiositan_segment {
  background-color: #ddbea6;
}

.ui.curiositan_header {
  color: white;
}

.ui.curiositan_image {
  width: 150px !important;
  height: 80px !important;
}

.ui.curiositan_card > .content {
  background-color: #fc684a;
}

.ui.curiositan_card > .description,
.ui.curiositan_card > .content.extra {
  background-color: #ddbea6;
}

.ui.curiositan_card {
  margin: 10px 5px 10px 5px !important;
  padding: 2px;
}

.autoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ui.search_grid {
  background: #957e6e;
}

.ui.modal_input,
.ui.modal_button {
  margin-bottom: 10px;
}

.ui.icon {
  margin-top: 15px;
}
